# Jar
*.jar

# PaperMC
## Libraries, caches, etc.
papermc/libraries
papermc/versions
papermc/logs
papermc/cache
papermc/version_history.json
papermc/usercache.json
papermc/.console_history
## Worlds
papermc/world
papermc/world_nether
papermc/world_the_end
## Configurations
papermc/eula.txt
papermc/wepif.yml
### mcMMO
papermc/plugins/mcMMO/backup
papermc/plugins/mcMMO/flatfile
papermc/plugins/mcMMO/locales
### LuckPerms
papermc/plugins/LuckPerms/translations
papermc/plugins/LuckPerms/libs
papermc/plugins/LuckPerms/contexts
papermc/plugins/LuckPerms/ja_JP.yml
papermc/plugins/LuckPerms/luckperms-h2.mv.db
### LockettePro
papermc/plugins/LockettePro/lang*
### ImageMaps
papermc/plugins/ImageMaps/images
papermc/plugins/ImageMaps/maps.yml
### CoreProtect
papermc/plugins/CoreProtect/.license
papermc/plugins/CoreProtect/database.db
papermc/plugins/CoreProtect/language.yml
### bStats
papermc/plugins/bStats/config.yml
### BlueMap
papermc/bluemap
papermc/BlueMap
### Multiverse-Core
papermc/plugins/Multiverse-Core/scripts
papermc/plugins/Multiverse-Core/worlds.yml
### PluginMetrics
papermc/plugins/PluginMetrics/config.yml
### ProtocolLib
papermc/plugins/ProtocolLib/lastupdate
### VeinMiner
papermc/plugins/VeinMiner/playerdata
### WorldEdit
papermc/plugins/WorldEdit/.archive-unpack
papermc/plugins/WorldEdit/assets
papermc/plugins/WorldEdit/schematics
papermc/plugins/WorldEdit/sessions
### WorldGuard
papermc/plugins/WorldGuard/cache
papermc/plugins/WorldGuard/worlds
### OasisWarps
papermc/plugins/OasisWarps/warps.yml
papermc/server.properties

# Waterfall
## Libraries, caches, etc.
waterfall/modules
waterfall/logs
## Configurations
waterfall/locations.yml
### bStats
waterfall/plugins/bStats/temp.txt
waterfall/config.yml
